* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 13px; }

.clearfix {
  clear: both; }

.font-8 {
  font-size: 8px; }

.font-9 {
  font-size: 9px; }

.font-10 {
  font-size: 10px; }

.font-11 {
  font-size: 11px; }

.font-12 {
  font-size: 12px; }

.font-13 {
  font-size: 13px; }

.font-14 {
  font-size: 14px; }

.font-15 {
  font-size: 15px; }

.font-16 {
  font-size: 16px; }

.font-17 {
  font-size: 17px; }

.font-18 {
  font-size: 18px; }

.font-19 {
  font-size: 19px; }

.font-20 {
  font-size: 20px; }

.font-21 {
  font-size: 21px; }

.font-22 {
  font-size: 22px; }

.font-23 {
  font-size: 23px; }

.font-24 {
  font-size: 24px; }

.semibold {
  font-weight: 600; }

.hide {
  display: none; }

.flex {
  display: flex; }

.left {
  float: left; }

.right {
  float: right; }

.centerTxt {
  text-align: center; }

.anchor {
  position: relative;
  top: -250px; }

html, body, #root, .App {
  height: 100%;
  color: whitesmoke;
  background: #353838; }

.App > div {
  border-right: 3px solid black; }

.leftSections {
  flex-direction: column;
  flex: 1 1 0;
  height: 100%; }
  .leftSections .relatedTerms {
    padding: 5px; }
    .leftSections .relatedTerms .term {
      display: inline-block;
      background: #444D55;
      padding: 0 3px;
      border-radius: 3px;
      border: 1.5px solid black;
      margin: 5px; }

.rightSections {
  flex: 2 1 0;
  overflow: hidden;
  position: relative; }
  .rightSections .flex > div {
    flex: 1 1 0; }

@media only screen and (max-aspect-ratio: 1 / 1) {
  .flex {
    flex-direction: column; }
    .flex > div {
      border-bottom: 3px solid black; } }
