.trending, .alerts {
  flex-direction: column;
  height: 100%; }

.trending .post {
  cursor: pointer; }

.alerts img {
  max-width: 50%;
  margin-left: 10px;
  max-height: 100px; }

.header {
  background-color: dimgray;
  text-transform: uppercase;
  padding: 5px; }

.feed {
  overflow-y: scroll;
  height: 100%; }

.post {
  padding: 5px;
  border-bottom: 1px solid dimgrey;
  overflow: hidden; }
  .post.active {
    background: #5A595B; }
  .post .name {
    color: gray; }
  .post .type {
    color: #346F9E; }

.emptyMessage, .loader {
  text-align: center;
  margin-top: 15px; }

.loader > span {
  animation: loader 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
  border-radius: 5px;
  margin: 2px;
  height: 30px;
  display: inline-block;
  width: 5px;
  background-color: #fff; }
  .loader > span:nth-child(3), .loader > span:nth-child(5) {
    animation-delay: -0.4s !important; }
  .loader > span:nth-child(2), .loader > span:nth-child(6) {
    animation-delay: -0.2s !important; }

@keyframes loader {
  0%, 100% {
    transform: scaleY(1); }
  50% {
    transform: scaleY(0.4); } }
