@import "presets";
@import "constants";

html, body, #root, .App{
    height: 100%;;
    color: whitesmoke;
    background: $colorBackground;


}

.flex{
    > div{
        border-right: 3px solid black;
    }
}

.trending{
    flex: 1 1 0;
    overflow-y: scroll;

}

.rightSections{
    flex: 2 1 0;
    overflow: hidden;

    .flex > div{
        flex: 1 1 0
    }
}


@media only screen and (max-aspect-ratio: 1/1){
    .flex{
        flex-direction: column;
        > div{
            border-bottom: 3px solid black;
        }
    }
}