@import "presets";
@import "constants";

html, body, #root, .App{
    height: 100%;;
    color: whitesmoke;
    background: $colorBackground;


}

.App{
    > div{
        border-right: 3px solid black;
    }
}



.leftSections{
    flex-direction: column;
    flex: 1 1 0;
    height: 100%;

    .relatedTerms{
        padding: 5px;

        .term{
            display: inline-block;
            background: $steelBlue;
            padding: 0 3px;
            border-radius: 3px;
            border: 1.5px solid black;
            margin: 5px;
            cursor: pointer;
        }
    }

}

.rightSections{
    flex: 2 1 0;
    overflow: hidden;
    position: relative;

    .flex > div{
        flex: 1 1 0
    }

    .map{
        min-height: 300px;
    }
}
