
@import 'constants';

.trending, .alerts{
    flex-direction: column;
    height: 100%;;
    
}

.alerts img{
    max-width: 50%;
    margin-left: 10px;
    max-height: 100px;
}

.header{
    background-color: dimgray;
    text-transform: uppercase;
    padding: 5px;
}

.feed{
    overflow-y: scroll;
    height: 100%;
}

.post{
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid dimgrey;
    overflow: hidden;

    &.active{
        background: $colorHeader;
    }

    .name{color: gray;}
    .type{color:$navy}
}

.emptyMessage, .loader{
    text-align: center;
    margin-top: 15px;
}

.loader{
    > span {
        animation: loader .9s -.6s infinite cubic-bezier(.85,.25,.37,.85);
        border-radius: 5px;
        margin: 2px;
        height: 30px;
        display: inline-block;
        width: 5px;
        background-color: #fff;

        &:nth-child(3), &:nth-child(5){animation-delay: -.4s!important}

        &:nth-child(2), &:nth-child(6){animation-delay: -.2s!important}
    }
}

//loader
@keyframes loader {
    0%,100% {
        transform: scaleY(1)
    }

    50% {
        transform: scaleY(.4)
    }
}


